{% extends 'baseTemplate.html' %}

{% load static %}

{% block variableContent %}


    <!-- HOME -->
<div id="home">

    <div class="container-fluid last-posts">
      <h3 class="home-title">SOBRE NOSOTROS</h3>
      <div class="row">
        <div class="col-md-8">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>Esta web nace de la necesidad de presentar un proyecto final para el curso de Python brindado por CoderHouse.
                  Fue un gran desafío donde cada uno dio lo mejor de si mismos para lograr un sitio no solo funcional sino estético cumpliendo con
                  lo solicitado en las consignas. 
                  Esperamos que les agrade, a continuacion les dejamos los nombres y un pequeño perfil de cada uno de los integrantes.
                </p>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://picsum.photos/300/400" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Integrante #1</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://picsum.photos/300/400" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Integrante #2</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="https://picsum.photos/300/400" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">Integrante #3</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

            
      <!-- ASIDE -->


        <div class="col-md-4">
          <div class="container">

                <!-- CODER AD -->

                <div class="card bg-dark text-white coder-ad">
                  <a href="https://www.coderhouse.com/" target="_blank">
                    <img src="{% static 'img/aside.jpg' %}" class="card-img" alt="coder banner">
                  </a>
                </div>
                <!-- CODER AD -->

          </div>
        </div>
      </div>
      </div>
      <!-- ASIDE END -->


</div>      
      <!-- HOME END -->
    
    
      {% endblock %}