{% extends 'baseTemplate.html' %}

{% load static %}

{% block variableContent %}

    <!-- HOME -->
<div id="home">

    <div class="container-fluid last-posts">
      <h3 class="recent-posts home-title">TODOS LOS USUARIOS</h3>
      <div class="row">
        <div class="col-md-8">
          <div class="container d-flex">
            <div class="row row-cols-1 row-cols-md-2 g-4" style="width: 100%;">
              
            

                <!-- CARDS -->

                {% for user in users %}

       <div class="col">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static 'img/profile_pic.jpg' %}" class="img-fluid rounded-start" alt="..." style="height: 100%; object-fit: cover;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{user.name}}</h5>
                  <p class="card-text">Esta es la descripción del usuario en cuestión mostrado en esta carta.</p>
                  <p class="card-text"><small class="text-muted">Se unió en agosto de 2022</small></p>
                  <a href="../profile/" class="btn btn-success">Ir al perfil</a>
                </div>
              </div>
            </div>
          </div>
        </div>

            <!-- CARDS END -->     

      {% endfor %}


      </div>
    </div>    
  </div>        
  


            
      <!-- ASIDE -->


        <div class="col-md-4">
          <div class="container">


                <!-- CODER AD -->

                <div class="card bg-dark text-white coder-ad">
                  <a href="https://www.coderhouse.com/" target="_blank">
                    <img src="{% static 'img/aside.jpg' %}" class="card-img" alt="coder banner">
                  </a>
                </div>
                <!-- CODER AD -->

          </div>
        </div>
      
      <!-- ASIDE END -->



    </div>
  </div>
</div>
<!-- HOME END -->

{% endblock %}